body {
	padding-top: 54px;
}
@media (min-width: 992px) {
	body {
  		padding-top: 56px;
	}
}
.form-check {
	text-align: left;
}

.question {
	margin: 20px 0 20px 0;
}

.validation-error {
  margin-top: 10px;
}

.questions-form, .button-container {
	max-width: 50%;
	margin: auto;
}

.summary-table {
	padding-top: 25px;
}